
code/101pointer/.DS_Store
*.vsidx
*.vsidx
*.vsidx
*.db
*.db-shm
*.opendb
*.db-wal
*.db
code/101pointer/.vs
code/101pointer/ARM64
code/101pointer/.vs/101pointer/v17/.suo
*.db
code/101pointer/.vs/101pointer/v17/Browse.VC.db
code/101pointer/.vs/101pointer/v17/.suo
code/.DS_Store
.DS_Store
*.exe
